* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 取消高亮显示 */
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 16px/1.5 sans-serif;
  color: #333;
  background-color: #eee;
}

li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #5eb69c;
}

img {
  width: 100%;
  vertical-align: middle;
}

input {
  padding: 0;
  border: none;
  outline: none;
  color: #333;
}

button {
  cursor: pointer;
}